.servicesContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 2rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/2942320/pexels-photo-2942320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 0.6rem;
}

.servicesContainer .servicesItmes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 0 4rem;
}
.servicesContainer .servicesItmes .servicesItem {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.servicesContainer .servicesItmes .servicesItem .serviceImg {
  width: 55px;
  height: 55px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease;
  border-radius: 50%;
  cursor: pointer;
}
.servicesContainer .servicesItmes .servicesItem .serviceImg::after {
  content: "";
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
}
.servicesContainer .servicesItmes .servicesItem .serviceImg img {
  width: 18px;
  height: 18px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.servicesContainer .servicesItmes .servicesItem span {
  color: #fff;
}
.serviceImg:hover {
  scale: 1.1;
}
@media (max-width: 768px) {
  .servicesContainer .servicesItmes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
