.pathContainer {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: auto;
  padding: 1rem 0;
}
.pathContainer .pathName {
  text-transform: capitalize;
}
.pathContainer .pathName:first-child {
  color: #000;
  border-left: 3px solid #ffde59;
  padding-left: 10px;
}
.pathContainer ion-icon {
  width: 16px;
  height: 16px;
  aspect-ratio: 1 / 1;
  color: #ffde59;
}
