.contactBarContainer {
  width: 100%;
  flex: 1;
  height: fit-content;
  background: #ffde59;
}
.contactBarCard {
  width: 1200px;
  flex: 1;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.contactBarContainer .contactBarLeft,
.contactBarContainer .contactBarRight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 10px;
}
.contactBarCard .logo {
  height: 45px;
  object-fit: cover;
}
.contactBarContainer div .socialLinks {
  display: flex;
  align-items: center;
}
.contactBarContainer div .socialLinks img {
  height: 20px;
  margin-right: 10px;
  object-fit: contain;
}
.contactBarContainer div img {
  height: 20px;
  margin-right: 10px;
  object-fit: contain;
}
.mobileMenu {
  display: none;
}

@media (max-width: 768px) {
  .contactBarContainer {
    background: transparent;
  }
  .contactBarCard {
    width: 100%;
    padding: 0 1rem;
    background: transparent;
  }
  .contactBarCard .contactBarLeft,
  .contactBarCard .contactBarRight,
  .logo {
    display: none;
  }
  .mobileMenu {
    display: block;
  }
}
