.emptyContainer {
  width: 1200px;
  min-height: 90vh;
  max-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
}
.emptyContainerHome {
  width: 1200px;
  min-height: 40vh;
  max-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
}
.emptyContainer img {
  width: 250px;
  height: 150px;
  object-fit: contain;
}
.emptyContainerHome img {
  width: 250px;
  height: 150px;
  object-fit: contain;
}
