.topbarContainer {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  height: 55px;
  border-bottom: 1px solid #dddddd60;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background-color: #fff;
}
.topbarContainer .navItems {
  display: flex;
  align-items: center;
}
.topbarContainer .navItems ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
.topbarContainer .navItems ul li {
  display: flex;
  align-items: center;
  list-style: none;
}
.topbarContainer .navItems ul li img {
  display: none;
}
.active {
  color: #ffde59;
}
.topContainerHeading {
  display: none;
}
@media (max-width: 768px) {
  .topbarContainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    gap: 2rem;
    width: 90%;
    height: 100vh;
    padding: 1.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transform: translateX(-100%);
    transition: transform 0.6s ease-out;
    z-index: 1000;
  }

  .topbarContainer.topbar-active {
    transform: translateX(0);
  }
  .topContainerHeading {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 2px dashed #6c71a344;
  }
  .topContainerHeading .mobileTopLogo {
    width: 55px;
    height: 55px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 0.6rem;
  }
  .closeMobileTopbar {
    width: 18px;
    height: 18px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 0.6rem;
    opacity: 0.7;
  }
  .topbarContainer .navItems {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .topbarContainer .navItems ul {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 7px;
  }
  .topbarContainer .navItems ul li {
    width: 100%;
  }
  .topbarContainer .navItems ul li img {
    display: block;
    width: 24px;
    height: 24px;
    aspect-ratio: 1 / 1;
    opacity: 0.7;
  }
  .navlink {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 0.6rem;
  }
  .active {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.7rem 1rem;
    color: #000;
    border-radius: 0.6rem;
    background-color: #ffde59;
  }
}
